---
train:

    params:
        batch_size: 20
        epoch: 2
        lr: 0.0005
        decay: 0.5
        decay_step: 60
        warmup: 5

    save:
        metapath: "/home/nial4/Documents/Gaze/GazeTR/SAVE"
        folder: mpii
        model_name: trans6
        step: 1

    data:
        image: "/home/nial4/Documents/Gaze/FaceBased/MPIIFaceGaze/Image"
        label: "/home/nial4/Documents/Gaze/FaceBased/MPIIFaceGaze/Label"
        header: True
        name: mpii
        isFolder: True

    pretrain:
        enable: False
        path: "/home/nial4/Documents/Gaze/GazeTR/pretrained/GazeTR-H-ETH.pt"
        device: 0

    device: 0

    reader: reader

test:

    load:
        begin_step: 1
        end_step: 2
        steps: 1

    data:
        image: "/home/nial4/Documents/Gaze/FaceBased/MPIIFaceGaze/Image"
        label: "/home/nial4/Documents/Gaze/FaceBased/MPIIFaceGaze/Label"
        name: mpii
        header: True
        isFolder: True

    savename: "evaluation"

    device: 0

    reader: reader

# dropout = 0
# dim_feed = 512
