---
train:

    params:
        batch_size: 128
        epoch: &end_step 80 
        lr: 0.0005
        decay: 0.5
        decay_step: 60
        warmup: 5

    save:
        metapath: "/home/rp/datasets/Output/hybird"
        folder: mpii
        model_name: trans6
        step: 10

    data:
        image: "/home/rp/datasets/FaceBased/MPIIFaceGaze/Image"
        label: "/home/rp/datasets/FaceBased/MPIIFaceGaze/Label"
        header: True
        name: mpii
        isFolder: True

    pretrain:
        enable: False
        path: "/home/rp/datasets/FaceBased/GazeTR-H-ETH.pt"
        device: 0

    device: 0

    ave_loss: 1000

    reader: reader

test:

    load:
        begin_step: 10
        end_step: *end_step
        steps: 10

    data:
        image: "/home/rp/datasets/FaceBased/MPIIFaceGaze/Image"
        label: "/home/rp/datasets/FaceBased/MPIIFaceGaze/Label"
        name: mpii
        header: True
        isFolder: True

    savename: "evaluation"

    device: 0

    reader: reader

# dropout = 0
# dim_feed = 512
